pandas>=1.2.0
numpy>=1.19.0
yfinance>=0.1.63
matplotlib>=3.3.0
scikit-learn>=0.24.0
scipy>=1.6.0
openpyxl>=3.0.0
xgboost
statsmodels
pykalman
torch
Riskfolio-Lib
pymc
seaborn
tqdm
TA-Lib
streamlit
plotly
mysql-connector-python